{% extends 'navbar/navbar.html' %}
{% block title %}User Profile{% endblock %}
{% load static %}
{% block content %}

<style>
   body {
      background-color: rgba(255, 255, 255, 0.8); /* Adjust the alpha value for transparency */
   }
</style>

<section class="mt-4 mb-3">
   <div class="item">
      <div class="slider-caption h2slider mt-4">
         <div class="container mt-4">
            <div class='row'>
               <div class='col-md-6 col-lg-6 text-center'> 
                  <strong>Sustainability<span> is the Best</span></strong>
                  <h1 class="display-4">Eco Friendly</h1>
                  <a href="#" class="btn btn-primary active">Find Out More</a>
               </div>
               <div class='col-md-6 col-lg-6'>
                  <div class="bg-secondary">
                     <img
                        src="{{ user.profile.image.url }}"
                        class="card-img-top rounded-circle mx-auto d-block mt-3"
                        alt="{{ user.username }} Profile Image"
                        style="width: 150px; height: 150px"/>
                     <div class="card-body">
                        <h5 class="card-title">{{ user.username }}</h5>
                        <p class="">{{ user.email }}</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <img src="{% static 'images/pic1.jpg' %}" alt="" class="img-fluid">
   </div>
</section>

<section class="services-area wf100 mt-5 mb-5">
   <div class="container mt-5 nb-3">
      <ul class="list-unstyled d-flex">
         <li class="flex-fill">
            <div class="sinfo text-center">
               <img src="{% static 'images/sericon1.png' %}" alt="" class="img-fluid">
               <h6>Recycling</h6>
               <p>Waste Management</p>
            </div>
         </li>
         <!-- ... (Other list items) ... -->
      </ul>
   </div>
</section>

{% endblock %}
