{% extends 'navbar/navbar.html' %} 
{% block title %}Your Farm{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">

        <!-- Display Farms Information -->
        {% for farm in farm_info %}
        <div class='col'>
                <div class='card-body text-center'>
                    <h5 class='card-title'>{{ farm.name }}</h5>
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>Moisture</th>
                                <th>Temperature</th>
                                <th>Humidity</th>
                                <th>Light Intensity</th>
                                <th>Soil pH</th>
                            </tr>
                            <tr>
                                <td>{{ farm.moisture }}</td>
                                <td>{{ farm.temperature }}</td>
                                <td>{{ farm.light_intensity }}</td>
                                <td>{{ farm.humidity }}</td>
                                <td>{{ farm.soil_ph }}</td>
                            </tr>   
                        </tbody>
                    </table>
                </div>
        </div>
        {% endfor %}

    </div>
    <a href="{% url 'create_farm' %}">
        <button type="button" class="btn btn-success mt-3">Add Farms</button>
    </a>
</div>
<br>
{% endblock %}
