{% extends 'navbar/navbar.html' %} 
{% block title %}Your Farm{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">

        <!-- Display Farms Information -->
        {% for farm in farm_info %}
        <div class='col-md-3 col-lg-3'>
            <div class='card'>
                <div class='card-body'>
                    <h5 class='card-title'>{{ farm.name }}</h5>
                    <p class='card-text'>Moisture: {{ farm.moisture }}</p>
                    <p class='card-text'>Temperature: {{ farm.temperature }}</p>
                    <p class='card-text'>Light Intensity: {{ farm.light_intensity }}</p>
                    <p class='card-text'>Humidity: {{ farm.humidity }}</p>
                    <p class='card-text'>Soil pH: {{ farm.soil_ph }}</p>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    <a href="{% url 'create_farm' %}">
        <button type="button" class="btn btn-success mt-3">Add Farms</button>
    </a>
</div>
<br>
{% endblock %}
