{% extends 'navbar/navbar.html' %}
{% load static %}

{% block title %}main{% endblock %}

{% block content %}
<section class="mt-5 mb-5">
   <div class="container mt-4 text-center">
      <h4>Meet Our Sponsors</h4>
      <div class="card-2">
         <div class="container mt-5 nb-3">
            <ul class="d-flex">
               <li class="flex-fill p-4 ">
                  <div class="text-center">
                     <a href="https://www.facebook.com" target="_blank"> <!-- Add the actual Facebook link -->
                        <img src="{% static 'images/h3team8.jpg' %}" alt="" class="img-fluid rounded-circle">
                     </a>
                     <h6>Dr. Ange</h6>
                     <p>Sponsor</p>
                     <!-- Add social handler icon (for example, Bootstrap icon) -->
                     <a href="https://www.facebook.com" target="_blank"><i class="bi bi-facebook"></i></a>
                  </div>
               </li>
               <li class="flex-fill p-4 ">
                  <div class="text-center">
                     <a href="https://www.twitter.com" target="_blank"> <!-- Add the actual Twitter link -->
                        <img src="{% static 'images/h3team8.jpg' %}" alt="" class="img-fluid rounded-circle">
                     </a>
                     <h6>Dr. Jude</h6>
                     <p>Sustainability Dev</p>
                     <!-- Add social handler icon -->
                     <a href="https://www.twitter.com" target="_blank"><i class="bi bi-twitter"></i></a>
                  </div>
               </li>
               <li class="flex-fill p-4">
                  <div class="text-center">
                     <a href="https://www.linkedin.com" target="_blank"> <!-- Add the actual LinkedIn link -->
                        <img src="{% static 'images/h3team8.jpg' %}" alt="" class="img-fluid rounded-circle">
                     </a>
                     <h6>Sir Peter</h6>
                     <p>Food Analyst</p>
                     <!-- Add social handler icon -->
                     <a href="https://www.linkedin.com" target="_blank"><i class="bi bi-linkedin"></i></a>
                  </div>
               </li>
               <li class="flex-fill p-4 active">
                  <div class="text-center">
                     <a href="https://www.instagram.com" target="_blank"> <!-- Add the actual Instagram link -->
                        <img src="{% static 'images/h3team8.jpg' %}" alt="" class="img-fluid rounded-circle">
                     </a>
                     <h6>Dr. Jude</h6>
                     <p>Sponsor</p>
                     <!-- Add social handler icon -->
                     <a href="https://www.instagram.com" target="_blank"><i class="bi bi-instagram"></i></a>
                  </div>
               </li>
               <li class="flex-fill p-4">
                  <div class="text-center">
                     <a href="https://www.github.com" target="_blank"> <!-- Add the actual GitHub link -->
                        <img src="{% static 'images/h3team8.jpg' %}" alt="" class="img-fluid rounded-circle">
                     </a>
                     <h6>Mrs Enya</h6>
                     <p>Solar Energy</p>
                     <!-- Add social handler icon -->
                     <a href="https://www.github.com" target="_blank"><i class="bi bi-github"></i></a>
                  </div>
               </li>
            </ul>
         </div>
      </div>
   </div>
</section>
{% endblock %}
